#me-plugin {
	background: #FEFEFE;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 200;
}

#me-plugin h1, #me-plugin h2, #me-plugin h3, #me-plugin h4, #me-plugin h5, #me-plugin h6, #me-plugin input {
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
}

h3 {
	font-size: 1.15em;
}

#me-plugin a {
	text-decoration: none;
}

#me-plugin:before {
	background: none;
	box-shadow: none;
	min-height: auto;
	height: auto;
	width: auto;
}

#me-plugin .body {
	margin: 0 auto;
}

#me-plugin .btn {
	border: 1px solid #EF7B7B;
	border-radius: 2px;
	color: #EF7B7B;
	padding: 10px 20px;
	cursor: pointer;
	background: transparent;
	font-size: 11px;
	display: inline-block;
	text-transform: uppercase;
	transition: all .15s;
	line-height: 1;
}

#me-plugin .btn:hover, #me-plugin .btn:focus {
	background: #EF7B7B;
	color: white;
}

#me-plugin .no-list {
	list-style-type: none;
	padding: 0;
}

#me-plugin .cf {
	*zoom: 1;
}

#me-plugin .cf:before, #me-plugin .cf:after {
	content: ' ';
	display: table;
}

#me-plugin .cf:after {
	clear: both;
}

.container {
	max-width: 60em;
}

.nt-add {
	padding: 10px;
	border-bottom: 1px solid #979797;
	text-align: right;
}

.nt-add-btn {
	border: none;
	background: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
}

.nt-list {
	margin-bottom: 25px;
}

.nt-list-title {
	margin-bottom: 3px;
}

.nt-list-excerpt {
	margin-top: 0;
	font-size: 80%;
}

.nt-list-excerpt *:first-child {
	margin-top: 0;
}